<div class="container-fluid">
  <div class="row">
    <div class="home-top">
      <div class="col-12">


        <div class="inner">
          <h1 class="raleway">365 Experience</h1>
          <p class="raleway">Choose your home away from home!</p>

          <br><br><br>

          <a ng-click="scrollFullScreenHeight()" class="ghost-btn-1 raleway">
            <i class="fa fa-chevron-circle-down icon"></i>
            &nbsp Explore
          </a>
        </div>


      </div>
    </div>
  </div>
</div>
